.bike{
 
  width: 300px;
  height: 500px;
  border: 2px solid #95A0A7;
  border-radius: 8px;
  position: relative;

}
.bike img{
  height: 286px;
  width: 286px;
  border-radius: 8px;
  margin: 7px;

}
.bike-info{
  padding-left: 10px;
    
}

.btn-cart{
  background: rgba(128, 128, 128, 0.486);
  border: 0;
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  padding: 12px 0;
  position: absolute;
  bottom: 0;
 
}
.btn-cart:hover{
  background: rgba(6, 6, 250, 0.712);
  color: #fff;
  cursor: pointer;
}